.body{
    padding: 13%;
    

}

.fondo{
    background: url(https://dentistacamas.com/wp-content/uploads/2018/06/fondo-dentista.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 1291px;
    
}

